# ===== IntelliJ =====
.idea/
*.iml

# ===== Eclipse =====
.project
.classpath
.factorypath
.settings/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Build =====
target/
build/

# ===== Logs =====
*.log
