# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Maven (all modules)
**/target/

# IDE
.idea/
*.iml
.project
.classpath
.settings/

# Logs
*.log

