server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/ravula608/capstone-inventory.git
          default-label: main
          search-paths:
            - config-server
          clone-on-start: true
